* {
    box-sizing: border-box;
}

body {
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; 
    color: #777777;
    background: url("../images/concrete_seamless.png");
    line-height: 34px; 
    font-size: 18px;  
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto; 
    clear: both;
}  

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom:0; 
}

h1, h2 {
    font-family: Georgia, Times,'Times New Roman' serif;
    font-weight: 700; 
    color: #4aaaa5; 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 700; 
    font-size: 30px; 
    line-height: 49px; 
    border-bottom: 3px solid #ddd; 
    padding-bottom: 20px; 
}

h2 {
    font-size: 22px; 
}

/*header*/

#maintopheader {
    width: 100%; 
    z-index: 99;  
    text-decoration: none; 
    overflow: auto; 
    border-bottom: 2px solid #ccc;
    margin: 0px 0px 30px;
    position: fixed; 
    background-color: #ffffff; 
}

#name {
    text-decoration: none; 
    float: left; 
    height: 90px; 
    width: 250px; 
    font-weight: 700; 
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font-size: 23px; 
    color: #ffffff; 
    background-color: #4aaaa5;  
    text-align: center; 
    line-height: 90px; 
}

nav { 
    float: right; 
    margin-top:25px; 
}

nav a {
    text-decoration: none; 
    padding-left: 15px; 
    line-height: 18px; 
    color: #999999; 
    margin-left: 15px; 
    border-left: 1px solid #efefef;
    display: inline-block; 
}

nav a:first-child {
    border-left: 0 none;
}

/*main*/

#maincontainer {
    padding-top:130px; 
}

.mainsection {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background-color: #fff; 
    border: 1px solid #ddd;
}

.profilepicture {
    width: 200px; 
    height: auto; 
    float: left; 
    margin-top: 10px; 
    margin-right: 25px; 
}

/*sidebar*/

.sidebar {
    background-color: #ffffff;
    padding: 30px; 
    width: 100%; 
    max-width: 270px; 
    float: right; 
    border: 1px solid #ddd; 
    margin-bottom: 20px; 
}

 .sidebar, h2 {
    border-bottom: 2px solid #eee; 
    padding-bottom: 20px; 
    margin-bottom: 15px; 
    line-height: 22px; 
}

.sociallinks {
    width: 62px; 
    height: 62px; 
    margin-top: 8px; 
    margin-right: 5px; 
}

.sociallinks:last-child {
    margin-right: 0; 
}

/* Portfolio Section*/

.leftpicture {
    float: left;
  }
  
.rightpicture {
    float: right;
  }
  
  .workpics {
    margin-bottom: 60px;
    position: relative;
    background-size: 100%;
  }

 .picture {
    width: 276px; 
    height:206px; 
    border: 0 none;
    opacity: 0.8;
}
 
.caption {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    color: #ffffff;
    background-color: rgba(74, 170, 165, 0.8);
    line-height: 45px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-bottom: 13px; 
    
}

/*footer*/
.footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
